<div class="hideAndSeekReg hidden" id="hideAndSeekReg">
  <h1>Registration</h1>
  <div class="imageContainer">
    <img src="../../assets/images/header/logo.png" />
  </div>
  <div class="fieldGroup" [formGroup]="fullGroupName">
    <div class="regField">
      <input
        type="text"
        id="regField"
        formControlName="regField"
        [ngClass]="{ invalidInput: fullGroupName.controls.regField.invalid }"
      />
      <p>Login</p>
      <div *ngIf="fullGroupName.controls.regField.invalid"></div>
    </div>
    <div class="regPassField">
      <input
        type="password"
        id="regPassField"
        formControlName="regPassField"
        [ngClass]="{
          invalidInput: fullGroupName.controls.regPassField.invalid
        }"
      />
      <p>Password</p>
    </div>
    <div class="regSecondPassField">
      <input
        type="password"
        id="regSecondPassField"
        formControlName="regSecondPassField"
        [ngClass]="{
          invalidInput: fullGroupName.controls.regSecondPassField.invalid
        }"
      />
      <p>Confirm Password</p>
    </div>
  </div>
  <div class="buttonEnterReg">
    <button id="regist" (click)="getInfo()" (click)="isValid = true">
      Enter
    </button>
  </div>
  <div *ngIf="fullGroupName.controls.regField.invalid && isValid">
    <p>Enter login a-zA-Z0-9</p>
  </div>
  <div *ngIf="fullGroupName.controls.regPassField.invalid && isValid">
    <p>Enter password format a-zA-Z0-9</p>
  </div>
  <div *ngIf="fullGroupName.controls.regSecondPassField.invalid && isValid">
    <p>Enter password format a-zA-Z0-9</p>
  </div>
  <input id="buttonBackReg" type="button" value="X" routerLink="" />
</div>
