img {
  position: absolute;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.4);
  height: 80px;
  width: 100%;
  flex-basis: 100%;
  position: relative;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  position: absolute;
  display: flex;
  top: 30px;
  right: 40px;
  overflow: hidden;
}

.buttons button {
  background-color: rgb(128, 128, 128, 0.3);
  color: whitesmoke;
  border-radius: 5px;
}

.container_header img {
  position: absolute;
  display: flex;
  /* position: absolute; */
  width: auto;
  height: 150px;
  top: -30px;
  overflow: hidden;
}

.nameSite {
  font-size: 60px;
  position: absolute;
  display: flex;
  left: 40%;
  color: whitesmoke;
}

.infoPage h1 {
  position: absolute;
  display: flex;
  top: 300px;
  left: 20px;
  color: whitesmoke;
  overflow: hidden;
}

footer {
  position: absolute;
}
