<div class="openSingIn">
  <h1>Entrance</h1>
  <div class="imageContainer">
    <img src="../../assets/images/header/logo.png" />
  </div>
  <form [formGroup]="fullNameControl">
    <div class="nameField">
      <input
        type="text"
        id="nameField"
        formControlName="firstName"
        [ngClass]="{ invalidInput: fullNameControl.controls.firstName.invalid }"
      />
      <p>Login</p>
      <div *ngIf="fullNameControl.controls.firstName.invalid"></div>
    </div>
    <div class="passField">
      <input
        type="password"
        id="passField"
        formControlName="passwordValue"
        [ngClass]="{
          invalidInput: fullNameControl.controls.passwordValue.invalid
        }"
      />
      <p>Password</p>
      <div *ngIf="fullNameControl.controls.passwordValue.invalid"></div>
    </div>
  </form>
  <div class="buttonEnter">
    <button id="buttonGet" (click)="getInfo()">Enter</button>
    <p
      class="whiteFont"
      checkValueError="false"
      *ngIf="
        checkValueError &&
        fullNameControl.controls.firstName.errors?.required !== 'null'
      "
    >
      login is required
    </p>
    <p
      class="whiteFont"
      checkValueError="false"
      *ngIf="
        checkValueError &&
        fullNameControl.controls.passwordValue.errors?.required !== 'null'
      "
    >
      password is required
    </p>
    <p
      class="whiteFont"
      *ngIf="checkValueError && fullNameControl.controls.firstName?.invalid"
    >
      Enter login format a-z0-9
    </p>

    <p
      class="whiteFont"
      *ngIf="checkValueError && fullNameControl.controls.passwordValue?.invalid"
    >
      Enter pasword format a-z0-9
    </p>
  </div>

  <input id="buttonBackSing" type="button" value="X" routerLink="" />
</div>
