<div class="openSingIn">
  <h1>Entrance</h1>
  <div class="imageContainer">
    <img src="../../assets/images/header/logo.png" />
  </div>
  <form [formGroup]="fullNameControl">
    <div class="nameField">
      <input
        type="text"
        id="nameField"
        formControlName="firstName"
        [ngClass]="{ invalidInput: fullNameControl.controls.firstName.invalid }"
      />
      <p>Login</p>
      <!-- 
        <div *ngIf="fullNameControl.controls.firstName.invalid"></div> -->
      <div *ngIf="fullNameControl.controls.firstName.errors.required"></div>
    </div>
    <div class="passField">
      <input
        type="password"
        id="passField"
        formControlName="passwordValue"
        [ngClass]="{
          invalidInput: fullNameControl.controls.passwordValue.invalid
        }"
      />
      <p>Password</p>
      <!-- <div *ngIf="fullNameControl.controls.passwordValue.invalid"></div> -->
      <div *ngIf="fullNameControl.controls.passwordValue.errors.required"></div>
    </div>
  </form>
  <div class="buttonEnter">
    <button id="buttonGet" (click)="getInfo()">Enter</button>
    <!-- <p (click)="qqqq()">tusssssssss</p> -->
    <div
      *ngIf="
        fullNameControl.controls.firstName.invalid &&
        fullNameControl.controls.firstName.errors.required
      "
    >
      <p class="whiteFont">Enter login format a-z0-9</p>
    </div>
    <div fullNameControl.controls.firstName.errors.required>
      <p class="whiteFont">login is required</p>
    </div>
    <div
      *ngIf="checkValueError && fullNameControl.controls.passwordValue.invalid"
    >
      <p class="whiteFont">Enter pasword format a-z0-9</p>
      <div fullNameControl.controls.passwordValue.errors.required>
        <p class="whiteFont">password is required</p>
      </div>
    </div>
  </div>

  <input id="buttonBackSing" type="button" value="X" routerLink="" />
</div>
